.slider-container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 10px 0;
}
.swiper-wrapper {
  height: auto; /* Biarkan mengikuti tinggi konten/gambar */
  align-items: flex-start; /* Memastikan konten tidak ditarik ke tengah secara vertikal */
}
.mySwiper {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 0 !important;
  overflow: hidden;
}

.card-slider {
  width: 100%;
  aspect-ratio: 16 / 6; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.card-slider img {
  width: 100%;
  height: 100%;
  object-fit: fill; 
}

/* Responsif Mobile */
@media (max-width: 768px) {
  .card-slider {
    aspect-ratio: 16 / 9;
  }
  
  .mySwiper {
    border-radius: 0; 
  }
}